* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::after {
  padding: 0;
  margin: 0;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::before {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  font-size: 0.0555555556rem;
  color: white;
  background: black;
  height: 84vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1rem;
  height: 16vh;
}
footer .player {
  background-color: #202427;
  display: flex;
  justify-content: space-between;
}
footer .player span {
  padding: 0.0277777778rem 0.0555555556rem;
}
footer .player .like-selec .dislike {
  display: none;
}
footer .player .like-selec .like {
  display: none;
}
footer .player .like-selec .dislike.active {
  display: inline;
}
footer .player .like-selec .like.active {
  display: inline;
}
footer .player .player-index {
  flex: 1;
  text-align: center;
  margin: 0.0416666667rem 0.0555555556rem 0.0277777778rem;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.0444444444rem;
  text-align: center;
}
footer .player .player-index span {
  padding: 0;
  transition: all 0.5s;
}
footer .player .footer-play .icon.start {
  display: none;
}
footer .player .footer-play .icon.pause {
  display: none;
}
footer .player .footer-play .icon.start.active {
  display: inline;
}
footer .player .footer-play .icon.pause.active {
  display: inline;
}
footer .menu {
  background: #202427;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.75);
}
footer .menu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.0277777778rem;
  color: #ADADAD;
}
footer .menu div span {
  font-size: 0.0277777778rem;
}
footer .menu div.active {
  color: white;
}

section {
  background: black;
  font-size: 0.0555555556rem;
  height: 84vh;
  overflow: auto;
}

.home {
  display: none;
}
.home .recommend {
  font-size: 0.0388888889rem;
}
.home .recommend h1 {
  padding: 0.0277777778rem;
}
.home .recommend h1::after {
  display: block;
  content: "";
  border: 0.5px solid #ADADAD;
  width: 100%;
  margin: 0.0277777778rem auto;
}
.home .recommend .recommend-wrapper {
  width: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home .recommend .recommend-wrapper li {
  display: flex;
  flex-direction: column;
  width: 0.2777777778rem;
  padding-bottom: 0.0555555556rem;
}
.home .recommend .recommend-wrapper li img {
  width: 0.2777777778rem;
  height: 0.2777777778rem;
  border-radius: 2px;
}
.home .lastestSong {
  font-size: 0.0388888889rem;
}
.home .lastestSong h1 {
  padding: 0.0277777778rem;
  font-size: 0.0694444444rem;
}
.home .lastestSong .lastestSong-wrapper ul {
  display: flex;
  flex-direction: column;
}
.home .lastestSong .lastestSong-wrapper ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.0555555556rem;
  margin-bottom: 0.0833333333rem;
}
.home .lastestSong .lastestSong-wrapper ul li img {
  width: 0.5555555556rem;
  height: 0.5555555556rem;
}
.home .lastestSong .lastestSong-wrapper ul li span {
  font-size: 0.0555555556rem;
  color: #F1F3F4;
  padding-top: 0.0277777778rem;
}

.search {
  display: none;
}
.search h1 {
  font-size: 0.1111111111rem;
  text-align: center;
  padding-top: 0.1388888889rem;
}
.search form {
  background-color: white;
  margin: 0.0555555556rem;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search form input {
  background: inherit;
  margin: 0.0277777778rem;
  line-height: 0.0694444444rem;
  font-size: 0.0444444444rem;
  width: 0.5555555556rem;
  border: none;
  outline: none;
}
.search .class-recommend {
  display: block;
}
.search .class-recommend h2 {
  font-size: 0.0555555556rem;
  padding-left: 0.0555555556rem;
}
.search .class-recommend ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0.0333333333rem;
}
.search .class-recommend ul li {
  width: 0.4305555556rem;
  height: 0.2083333333rem;
  border-radius: 5px;
  margin: 0.0152777778rem;
}
.search .class-recommend ul li span {
  display: block;
  padding: 0.0138888889rem 0.0138888889rem;
  font-size: 0.0444444444rem;
  font-weight: bold;
}
.search .class-recommend.hidden {
  display: none;
}

.songList {
  display: none;
}
.songList .topNarBar {
  display: flex;
  justify-content: space-around;
  padding-top: 0.0555555556rem;
  align-items: flex-end;
}
.songList .topNarBar span {
  border-bottom: 3px solid transparent;
  letter-spacing: 0.0055555556rem;
  color: #ADADAD;
}
.songList .topNarBar span.active {
  border-bottom: 3px solid green;
  color: white;
  transition: border-bottom 1s;
}
.songList .likeSong-page {
  display: none;
}
.songList .likeSong-page ul li {
  font-size: 0.0444444444rem;
  display: flex;
  flex-direction: column;
  padding: 0.0277777778rem 0.0416666667rem;
}
.songList .art-page {
  display: none;
}
.songList .art-page ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.0416666667rem;
}
.songList .art-page ul li {
  display: flex;
  align-items: center;
}
.songList .art-page ul li img {
  width: 0.1944444444rem;
  height: 0.1944444444rem;
  border-radius: 50%;
  margin: 0.0277777778rem;
}
.songList .art-page ul li span {
  padding: 0.0833333333rem;
}
.songList .albums-page {
  display: none;
}
.songList .likeSong-page.active {
  display: block;
}
.songList .art-page.active {
  display: block;
}
.songList .albums-page.active {
  display: block;
}

.songlist-detail {
  display: none;
}
.songlist-detail nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.songlist-detail nav span {
  padding: 0.0277777778rem;
}
.songlist-detail img {
  width: 0.4444444444rem;
  height: 0.4444444444rem;
  display: block;
  margin: 0.3333333333rem auto 0.0833333333rem;
}
.songlist-detail .title h1 {
  font-size: 0.0694444444rem;
  text-align: center;
}
.songlist-detail ul li {
  font-size: 0.0444444444rem;
  display: flex;
  flex-direction: column;
  padding: 0.0277777778rem 0.0416666667rem;
}

.home.active {
  display: block;
  background: -webkit-linear-gradient(-70deg, #353624 0%, black 50%, black 100%);
}

.search.active {
  display: block;
  background: -webkit-linear-gradient(-45deg, #353624 0%, black 64%, black 100%);
}

.songList.active {
  display: block;
  background: -webkit-linear-gradient(45deg, #353624 0%, black 64%, black 100%);
}

.songlist-detail.active {
  display: block;
  background: -webkit-linear-gradient(-70deg, #353624 0%, black 64%, black 100%);
}

.site-song {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.site-song::after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}

.site-song.active::after {
  animation: circle 1.5s ease-in forwards;
}

@keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #4b4848;
    border-radius: 100%;
  }
  100% {
    background: rgba(39, 36, 36, 0.39);
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

/*# sourceMappingURL=index.css.map */
