* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::after {
  padding: 0;
  margin: 0;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::before {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
  background-size: cover;
  font-size: 0.0444444444rem;
  z-index: -2;
  color: white;
}
body .background {
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
body .background img {
  filter: blur(5px);
  height: 100%;
  position: absolute;
  left: -50%;
}
body audio {
  position: absolute;
  left: 0;
  bottom: 0;
}
body .lry {
  width: 0.5555555556rem;
  margin: auto;
  height: 0.2222222222rem;
  text-align: center;
}
body .point {
  position: absolute;
  width: 0.2222222222rem;
  z-index: 4;
  right: 0.3611111111rem;
  top: -0.0277777778rem;
  transition: all 0.4s linear;
}
body .point.close {
  transform-origin: top left;
  transform: rotateZ(-25deg);
}
body .mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}
body .top {
  text-align: left;
  padding: 0.0277777778rem;
  display: flex;
  justify-content: space-between;
}
body .top .back {
  font-size: 0.0555555556rem;
}
body .pan {
  width: 0.6944444444rem;
  height: 0.6944444444rem;
  margin: 0.0388888889rem auto 0.0555555556rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
body .pan .out {
  width: 0.6944444444rem;
  height: 0.6944444444rem;
  position: absolute;
  left: 0;
  top: 0;
}
body .pan .light {
  width: 0.6944444444rem;
  height: 0.6944444444rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
body .pan .light.active {
  animation: animal 10s infinite linear;
}
@keyframes animal {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .pan .default {
  position: absolute;
  width: 0.4444444444rem;
  height: 0.4444444444rem;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 29%);
  z-index: -1;
}
body .song {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .song .songName {
  display: inline-block;
  font-size: 0.0555555556rem;
  margin: 0.0138888889rem auto 0.0277777778rem;
}
body .song .singer {
  display: inline-block;
  margin-bottom: 0.0277777778rem;
}
body .player {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .player .contral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.0277777778rem;
}
body .player .contral .danqu {
  font-size: 0.1388888889rem;
  fill: #ADADAD;
}
body .player .contral .danqu.active {
  fill: green;
}
body .player .contral .like-selec .icon {
  font-size: 0.0694444444rem;
  margin-left: 0.0277777778rem;
}
body .player .contral .like-selec .dislike {
  display: none;
}
body .player .contral .like-selec .like {
  display: none;
}
body .player .contral .like-selec .dislike.active {
  display: inline;
}
body .player .contral .like-selec .like.active {
  display: inline;
}
body .player .contral .bofang, body .player .contral .zanting {
  display: none;
  font-size: 0.1111111111rem;
}
body .player .contral .bofang.active, body .player .contral .zanting.active {
  display: inline;
}
body .player .passBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .player .passBar .currentTime {
  font-size: 0.0333333333rem;
  padding-left: 0.0277777778rem;
}
body .player .passBar .totalTime {
  font-size: 0.0333333333rem;
  padding-right: 0.0277777778rem;
}
body .player .passBar .pass-wrapper {
  width: 0.6666666667rem;
  height: 0.0083333333rem;
  background: #ADADAD;
  margin: 0.0277777778rem;
  position: relative;
  border-radius: 3px;
}
body .player .passBar .pass-wrapper .pass {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  border-radius: 3px;
}

/*# sourceMappingURL=player.css.map */
