*{padding: 0;margin: 0;}
*{box-sizing: border-box;}
*::after{padding: 0;margin: 0;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::before{padding: 0;margin: 0;}
a{text-decoration: none;}
li{list-style: none;}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

$rem: 360px;
@function px2rem($px) {
  @return $px / $rem * 1rem;
}
body{
  font-size: px2rem(20px);
  color: white;
  background: black;
  height: 84vh;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: px2rem(360px);
  height: 16vh;
  .player{
    background-color: #202427;
    display: flex;
    justify-content: space-between;
    span{
      padding: px2rem(10px) px2rem(20px);
    }
    .like-selec{
      .dislike{
        display: none;
      }
      .like{
        display: none;
      }
      .dislike.active{
        display: inline;
      }
      .like.active{
        display: inline;
      }
    }
    .player-index{
      flex: 1;
      text-align: center;
      margin: px2rem(15px) px2rem(20px) px2rem(10px);
      color: white;
      overflow: hidden;
      white-space: nowrap;
      font-size: px2rem(16px);
      text-align: center;
      span{
        padding: 0;
        transition: all 0.5s;
      }
    }
    .footer-play{
      .icon.start{
        display: none;
      }
      .icon.pause{
        display: none;
      }
      .icon.start.active{
        display: inline;
      }
      .icon.pause.active{
        display: inline;
      }
    }
    
  }
  .menu{
    background: #202427;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.75);
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: px2rem(10px);
      color:#ADADAD;
      span{
        font-size: px2rem(10px);
      }
    }
    div.active{
      color: white;
    }
  }
}
section{
  background: black;
  font-size: px2rem(20px);
  height: 84vh;
  overflow: auto;
}
.home{
  display: none;
  .recommend{
    font-size: px2rem(14px);
    h1{
      padding: px2rem(10px);
    }
    h1::after{
      display: block;
      content: "";
      border: 0.5px solid #ADADAD;
      width: 100%;
      margin: px2rem(10px) auto;
    }
    .recommend-wrapper{
      width: px2rem(360px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      li{
        display: flex;
        flex-direction: column;
        width: px2rem(100px);
        padding-bottom: px2rem(20px);
        img{
          width: px2rem(100px);
          height: px2rem(100px);
          border-radius: 2px;
        }
      }
    }
  }
  .lastestSong{
    font-size: px2rem(14px);
    h1{
      padding: px2rem(10px);
      font-size: px2rem(25px);
    }
    .lastestSong-wrapper{
      ul{
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-bottom: px2rem(20px);
          margin-bottom: px2rem(30px);
          img{
            width: px2rem(200px);
            height: px2rem(200px);
          }
          span{
            font-size: px2rem(20px);
            color:#F1F3F4;
            padding-top: px2rem(10px);
          }
        }
      }
    }
  }
}
.search{
  display: none;
  h1{
    font-size: px2rem(40px);
    text-align: center;
    padding-top: px2rem(50px);
  }
  form{
    background-color: white;
    margin: px2rem(20px);
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
      background: inherit;
      margin: px2rem(10px);
      line-height: px2rem(25px);
      font-size: px2rem(16px);
      width: px2rem(200px);
      border: none;
      outline: none;
    }
  }
  .class-recommend{
    display: block;
    h2{
      font-size: px2rem(20px);
      padding-left: px2rem(20px);
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      margin: px2rem(12px);
      li{
        width: px2rem(155px);
        height: px2rem(75px);
        border-radius: 5px;
        margin: px2rem(5.5px);
        span{
          display: block;
          padding: px2rem(5px) px2rem(5px);
          font-size: px2rem(16px);
          font-weight: bold;
        }
      }
    }
  }
  .class-recommend.hidden{
    display: none;
  }
}
.songList{
  display: none;
  .topNarBar{
    display: flex;
    justify-content: space-around;
    padding-top: px2rem(20px);
    align-items: flex-end;
    
    span{
      border-bottom: 3px solid transparent;
      letter-spacing: px2rem(2px);
      color: #ADADAD;
    }
    span.active{
      border-bottom: 3px solid green;
      color: white;
      transition: border-bottom 1s;
    }
  }
  .likeSong-page{
    display: none;
    ul{
      li{
        font-size: px2rem(16px);
        display: flex;
        flex-direction: column;
        padding: px2rem(10px) px2rem(15px);
      }
    }
  }
  .art-page{
    display: none;
    ul{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: px2rem(15px);
      li{
        display: flex;
        align-items: center;
        img{
          width: px2rem(70px);
          height: px2rem(70px);
          border-radius: 50%;
          margin: px2rem(10px);
        }
        span{
          padding: px2rem(30px);
        }
      }
    }
  }
  .albums-page{
    display: none;
  }
  .likeSong-page.active{
    display: block;
  }
  .art-page.active{
    display: block;
  }
  .albums-page.active{
    display: block;
  }
}
.songlist-detail{
  display: none;
  nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    span{
      padding: px2rem(10px);
    }
  }
  img{
    width: px2rem(160px);
    height: px2rem(160px);
    display: block;
    margin: px2rem(120px) auto px2rem(30px);
  }
  .title{
    h1{
      font-size: px2rem(25px);
      text-align: center;
    }
  }
  ul{
    li{
      font-size: px2rem(16px);
      display: flex;
      flex-direction: column;
      padding: px2rem(10px) px2rem(15px);
    }
  }
}
.home.active{
  display: block;
  background: -webkit-linear-gradient(-70deg, rgba(53,54,36,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
}
.search.active{
  display: block;
  background: -webkit-linear-gradient(-45deg, rgba(53,54,36,1) 0%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 100%);
}
.songList.active{
  display: block;
  background: -webkit-linear-gradient(45deg, rgba(53,54,36,1) 0%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 100%);
}
.songlist-detail.active{
  display: block;
  background: -webkit-linear-gradient(-70deg, rgba(53,54,36,1) 0%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 100%);
}
.site-song{
  position: relative;
  overflow: hidden;
  z-index: 1;
  // transition: all 1s;
}
.site-song::after{
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
.site-song.active::after{
  animation: circle 1.5s ease-in forwards;
}

@keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background:rgb(75, 72, 72);
    border-radius: 100%;
  }
  100% {
    background: rgba(39, 36, 36, 0.39);
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}